<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head th:replace="~{layout::head}">
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header">
        Lista de Estados
    </div>
    <div class="card-body">
        <hr/>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Créditos</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="curso: ${listacursos}">
                <td th:text="${curso.idcurso}"></td>
                <td th:text="${curso.nomcurso}"></td>
                <td th:text="${curso.credito}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>